extends layout

block head
  link(rel='stylesheet', href='/javascripts/vendor/bootstrap-css/css/bootstrap.css')
  
  script(type='text/javascript', src='/javascripts/controllers/BPListController.js')

block content
 div.container(ng-controller='BPListController', ng-init='setPressures( #{JSON.stringify(pressures)} )')
   h2 BP readings
   table
     thead
      tr 
       td Date
       td Time
       td Systolic
       td Diastolic
       td Pulse
     tbody
      tr(ng-repeat='pressure in pressures')
       td {{pressure.datetaken | date:'MMM d, yyyy'}}
       td {{pressure.timeofday}}
       td {{pressure.systolic}}
       td {{pressure.diastolic}}
       td {{pressure.pulse}}

