extends layout

block head
  link(rel='stylesheet', href='/javascripts/vendor/bootstrap-css/css/bootstrap.css')
  
  script(type='text/javascript', src='/javascripts/controllers/BPListController.js')

block content
 div.container(ng-controller='BPListController', ng-init='setPressures( #{JSON.stringify(pressures)} )')
   h2 Add New
   form(novalidate, ng-submit='addNewPressure()')
    input.form-control(datepicker-popup ng-model='pressure.datetaken' ng-required='true' show-weeks='false')   
    select.form-control(ng-model='select.time' ng-required='true' ng-options='option.value as option.name for option in timeOptions' value='pressure.time')
    input.form-control(type='text', ng-model='pressure.systolic' placeholder='Systolic')
    input.form-control(type='text', ng-model='pressure.diastolic' placeholder='Diastolic')
    input.form-control(type='text', ng-model='pressure.pulse' placeholder='Pulse')
    button.btn-btn-default(type='submit') Add New Reading
   h2 BP readings
   table
     thead
      tr 
       td Date
       td Time
       td Systolic
       td Diastolic
       td Pulse
     tbody
      tr(ng-repeat='pressure in pressures')
       td {{pressure.datetaken | date:'MMM d, yyyy'}}
       td {{pressure.timeofday}}
       td {{pressure.systolic}}
       td {{pressure.diastolic}}
       td {{pressure.pulse}}

